html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  *,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 400;
    src: local("TT Lakes"), url("../fonts/TTLakes-Regular.ttf") format("ttf"),
      url("../fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 600;
    src: local("TT Lakes"), url("../fonts/TTLakes-Medium.ttf") format("ttf"),
      url("../fonts/TTLakes-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 800;
    src: local("TT Lakes"), url("../fonts/TTLakes-Bold.ttf") format("ttf"),
      url("../fonts/TTLakes-Bold.woff") format("woff");
  }

  html,
body {
  height: 100%;
}

body {
    font-family: "TT Lakes", "Arial", sans-serif;
    background-color: #f8f8f8;
  }

  .header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    border-bottom: 1px solid #d9fff5;
  }

  .header > div {
    display: flex;
}

.header__button {
    display: flex;
    align-self: center;
  }

  .header__logo-section .header__divider {
  display: none;
}


.header__social {

  display: none;
}

.header-burger {

  margin-left: 16px;
}

.header__button {

  margin-right: 16px;
}

.header__divider {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .nav__header {
    font-weight: bold;
    margin-left: 16px;
    margin-top: 24px;
    font-size: 28px;
    position: relative;
  }

  .nav__header::before {
    content: "";
    position: absolute;
    left: -16px;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }


  .nav__menu {
    display: flex;
    overflow-x: scroll;
    margin-left: 16px;
    white-space: nowrap;
    align-items: center;
    align-content: flex-end;
  }

  .nav__button {
    text-decoration: none;
    font-weight: 400;
    color: #7e7e82;
    font-size: 16px;
    display: block;
    padding: 9px 22px;
  }

  .nav__button--active {
    background: #ffffff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  .nav__actions {

  display: none;
}

.nav__action-btn:hover {

  cursor: pointer;
}

.main-info {
   
  display: flex;
  flex-direction: column;
}


.main-info__text {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
  font-size: 14px;
}


.main-info__button {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  margin-left: 48px;
  margin-top: 16px;
}

.main-info__button::before {
  content: url("../icons/arrow.svg");
  position: absolute;
  left: -16px;
}

.main-info__image {
  margin-top: 13px;
  width: 100%;
  height: auto;
}

.main-info__button:hover {
  cursor: pointer;
}

.slide-menu {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow-y: auto;
    position: fixed;
    z-index: 6;
    left: -320px;
  }
  
  .slide-menu--shadow--on {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }
  
  .slide-menu--shadow--off {
    box-shadow: none;
  }

  .slide-menu__header {
    height: 116px;
    display: flex;
    padding: 0 24px;
    padding-top: 18px;
  }

  .slide-menu__button {

  margin-top: 5px;
}

.slide-menu__logo {

  margin-left: 16px;
}

.slide-menu__button:nth-child(3) {
    margin-left: auto;
  }


  .slide-menu__link {
    text-decoration: none;
    color: #1b1c21;
    font-family: "TT Lakes";
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-left: 24px;
    height: 32px;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 1;
  }

  .slide-menu__link:hover {
  opacity: 0.5;
}

.slide-menu__link:last-child {
  margin-bottom: 0;
}

.slide-menu__link--active {
  color: #7e7e82;
}

.slide-menu__link--active::before {

    content: "";
    position: relative;
    left: -24px;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .slide-menu__bottom {

  margin-left: 24px;
  margin-top: 100px;
}

.slide-menu__help-buttons {
  display: flex;
}


.slide-menu__help-button {
  margin-right: 16px;
  display: flex;
  align-items: center;
}


.slide-menu__help-button:last-child {
  margin-right: 0;
}

.slide-menu__email-address {
  margin-top: 16px;
}

.slide-menu__phone-number {
  font-size: 24px;
  font-weight: 800;
  margin-top: 12px;
}

.slide-menu__langs {
  margin-top: 40px;
  margin-bottom: 32px;
}

.slide-menu__lang {
  font-weight: 600;
  cursor: pointer;
  margin-right: 7px;
}

.slide-menu__lang:last-child {
  margin-right: 0;
}

.slide-menu--hide {
  animation-name: closeMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slide-menu--open {
  animation-name: openMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes openMenu {
  to{
    left: 0;
  }
}

@keyframes closeMenu {
  to{
    left: -360px;
  }
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: #7e7e82;
}

.chapter-header {
  height: 80px;
  color: #7e7e82;
  background-image: linear-gradient(#f8f8f8, #ffffff);
  border-top: 1px solid #d9fff5;
  display: flex;
  align-items: center;
  padding: 16px;
}

.brands__card {
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .services__card {
    box-sizing: border-box;
    width: 260px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .swiper-slide {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 258px;
}

.swiper-pagination {
  position: relative;
}

.open-button {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin-left: 48px;
    margin-top: 16px;
    cursor: pointer;
    display: none;
  }
  
  .open-button::before {
    content: url("../icons/arrow.svg");
    position: absolute;
    left: -16px;
  }
  
  .equipment__card {
    box-sizing: border-box;
    width: 240px;
    height: 160px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-left: 16px;
    display: flex;
    position: relative;
    padding: 16px;
  }
  
  .equipment__text {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
  }
  
  .equipment__card img {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  
  .services__header {
      display: none;
  }
  
  .services__card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 14px;
      font-weight: 600;
      border: none;
  }
  
  .services__column {
      grid-column-start: 1;
      grid-column-end: 3;
  }
  
  .services__column:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 2;
  }
  
  .services__head {
      color: #7E7E82;
      
  }
  
  .services__order {
      background-color: #FF3E79;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      border: none; 
      outline: none;
      color: white;
      font-size: 12px;
      font-family: 'TT Lakes';
      font-weight: 800;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .commerce {
      margin-left: 16px;
      max-width: 421px;
  }
  
  .commerce__link {
      text-decoration: none;
      color: #1B1C21;
      font-weight: 800;
      font-size: 16px;
      position: relative;
  }
  
  .commerce__link::after {
      content: url('../icons/line.svg');
      position: relative;
      right: -10px;
      top: 1px;
  }
  
  .footer {
      border-top: 1px solid #D9FFF5;
      color: #7E7E82;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 19px;
      margin-top: 50px;
  }
  
  .footer__elem {
      text-align: center;
      margin-top: 16px;
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.96); 
    z-index: 5; 
    cursor: pointer; 
  }
  
  .overlay-visible--on {
    display: block;
  }

  .modal {
    position: fixed;
    width: 100%; 
    height: 100%;
    background-color: white; 
    z-index: 10;
    font-family: "TT Lakes", "Arial", sans-serif;
    display: none;
    border-left: 1px solid #D9FFF5;
  }


  .modal__close-btn {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 24px 0 0 16px;

  }

  .modal__name {
    font-size: 24px;
    margin-left: 16px;
    position: relative;
  }

  .modal__form {
    margin-left: 16px;
    width: calc(100% - 32px);
  }

  .modal__name::before {
    content: "";
    position: absolute;
    left: -16px;
    top: -3px;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .modal__input {
    outline: 0;
    font-family: "TT Lakes", "Arial", sans-serif;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding: 12px 16px;
    margin-bottom: 16px;
    color: #B5B6BC;
    font-size: 16px;
    font-weight: 600;
  }

  .modal__input::placeholder {
    color: #B5B6BC;
  }
  
  .modal__placeholder {
    height: 118px;
    resize: none;
  }
  
  .modal__rules {
    font-size: 14px;
    color: #7E7E82;
    margin: 0;
    line-height: 16px;
    font-weight: 600;
  }
  
  .modal__rules a {
    color: #FF3E79;
    text-decoration: none;
  }
  
  .modal__submit {
    background-color: #FF3E79;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    border: none; 
    outline: none;
    color: white;
    font-size: 12px;
    font-family: 'TT Lakes';
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 19px;
    margin-left: auto;
    
  }
  
  .modal--open {
    display: block;
  }
  
  
  .lock-body {
    overflow-y: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
  
  @media screen and (min-width: 320px) {
    .main-info__text {
      height: 95px;
      overflow: hidden;
    }
  }
  
  @media screen and (min-width: 361px) {
    .slide-menu {
      width: 320px;
    }
  }
  
  @media screen and (min-width: 768px) {
      .chapter-header {
          margin-top: 50px;
      }
      .main-info {
        flex-direction: row;
      }
      .main-info__image {
        width: 360px;
        border-radius: 8px;
        margin-top: 25px;
        margin-right: 25px;
      }
      .main-info__text {
        height: 115px;
        overflow: hidden;
        margin-right: 48px;
      }
    
      .header__social {
        display: flex;
      }
      .header__logo-section .header__divider {
        display: flex;
      }
    
      .brands__container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        margin-top: 24px;
        height: 170px;
      }
    
      .brands__card {
        width: 224px;
        margin-left: 0;
        margin-left: 24px;
      }
    
      .equipment__container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        margin-top: 24px;
        height: 170px;
      }
    
      .equipment__card {
        width: 224px;
      }
    
      .swiper-slide {
        margin-top: 0;
        margin-bottom: 0;
      }
      .open-button {
        display: block;
      }
      .services__container {
        display: flex;
        flex-direction: column;
        
      }
      .services__card {
        width: auto;
        height: 64px;
        margin-left: 24px;
        margin-right: 24px;
        border: none;
        border-radius: 0;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        position: relative;
      }
    
      .services__card::after {
        content: '';
        position: absolute;
        width: calc(100% - 32px);
        height: 1px;
        bottom: 0;
        background-color: #EAEAEA;
      }
    
      .services__card:nth-child(2) {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
      }
      .services__card:nth-child(6) {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    
      .services__card:nth-child(6)::after {
        display: none;
      }
    
      .services__header {
        margin-left: 24px;
        margin-right: 24px;
        display: flex;
        color: #7E7E82;
        font-weight: 600;
        margin-top: 31px;
        padding: 0 16px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
      }
     
      .services__column:nth-child(1) {
        width: 50%;
      }
      .services__column:nth-child(2) {
        width: 20%;
      }
      .services__column:nth-child(3) {
        width: 20%;
      }
      .services__column:nth-child(4) {
        min-width: 119px;
      }
    
      .services__order {
        margin-left: auto;
      }
      .services__head {
        display: none;
      }
      .commerce {
        margin-left: 24px;
        }
        .footer {
            flex-direction: row;
            padding: 0 24px;
        }
        .footer__elem {
            text-align: start;
            margin-top: 32px;
            width: 33%;
            
        }
        .footer__elem:last-child {
            text-align: end;
        }
        .modal {
            width: 440px;
            right: 0;
            box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          }
          .modal__close-btn {
            position: absolute;
            left: -80px;
            top: -5px;
          }
        }

        @media screen and (min-width: 1120px) {
          
          .main-info__column {
            flex: 1;
          }
          .main-info__image {
            flex: 1;
          }
          .app {
            margin: 0 auto;
            max-width: 1120px;
          }
          .main-content {
            max-width: 1120px;
          }
          .nav__menu {
            flex-wrap: wrap;
            overflow-x: hidden;
          }
          .nav__actions {
            display: flex;
          }
          .nav__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .nav__action-btn {
            display: flex;
            align-items: center;
            font-weight: 600;
          }
          .nav__action-btn div {
            margin-right: 8px;
          }
          .nav__action-btn img {
            margin-right: 32px;
          }
          .main-info__text {
            height: auto;
          }
          .brands__card {
            width: 240px;
          }
          .equipment__card {
            width: 240px;
            margin-left: 24px;
          }
        }

        @media screen and (min-width: 1366px) {
          .header {
            display: none;
          }
          .slide-menu {
            display: block;
            position: static;
            height: auto;
          }
          .app {
            display: flex;
            max-width: 1366px;
          }
          .slide-menu__header .slide-menu__button:first-child {
            display: none;
          }
          .overlay {
            z-index: 9;
          }
          .commerce {
            margin-left: 32px;
            }
        }
        
        @media screen and (min-width: 1440px) {
          
          .app {
            max-width: 1440px;
          }

          }

          .container--open {
            height: auto;
          }
          .container__button--open::before {
            content: url("../icons/arrow.svg");
            position: absolute;
            left: -16px;
            transform: rotate(180deg);
          }
          .swiper-pagination-bullet {
            --swiper-pagination-bullet-inactive-color: #dddddd;
        }
        .swiper-pagination-bullet-active {
            --swiper-theme-color: #b5b6bc;
}