$lightgrey: #f8f8f8;
$simple-white: #ffffff;
$grey: #eaeaea;
$darkgrey: #7e7e82;
$lightaqua: #d9fff5;
$specific-black: #1b1c21;
$aqua: #41f6d7;
$strong-pink: #ff3e79;
$overlay-color: rgba(255, 255, 255, 0.96);
$typical-grey: #b5b6bc;
