.commerce {
  margin-left: 16px;
  max-width: 421px;
  &__link {
    text-decoration: none;
    color: $specific-black;
    font-weight: 800;
    font-size: 16px;
    position: relative;
  }

  &__link::after {
    content: url('../icons/line.svg');
    position: relative;
    right: -10px;
    top: 1px;
  }
}
