.footer {
  border-top: 1px solid $lightaqua;
  color: $darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 19px;
  margin-top: 50px;
  &__elem {
    text-align: center;
    margin-top: 16px;
  }
}
