.header {
  background-color: $simple-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
  border-bottom: 1px solid $lightaqua;
  & > div {
    display: flex;
  }
  &__button {
    display: flex;
    align-self: center;
  }
  &__logo-section &__divider {
    display: none;
  }
  &__social {
    display: none;
  }
  &__button {
    margin-right: 16px;
  }

  &__divider {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}

.header-burger {
  margin-left: 16px;
}
