.main-info {
  display: flex;
  flex-direction: column;
  &__text {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;
    font-size: 14px;
  }

  &__button {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin-left: 48px;
    margin-top: 16px;
  }

  &__button::before {
    content: url('../icons/arrow.svg');
    position: absolute;
    left: -16px;
  }

  &__image {
    margin-top: 13px;
    width: 100%;
    height: auto;
  }

  &__button:hover {
    cursor: pointer;
  }
}
