.nav {
  &__header {
    font-weight: bold;
    margin-left: 16px;
    margin-top: 24px;
    font-size: 28px;
    position: relative;
  }

  &__header::before {
    content: '';
    position: absolute;
    left: -16px;
    width: 4px;
    height: 40px;
    background-color: $aqua;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    top: -3px;
  }
  &__menu {
    display: flex;
    overflow-x: scroll;
    margin-left: 16px;
    white-space: nowrap;
    align-items: center;
    align-content: flex-end;
  }
  &__button {
    text-decoration: none;
    font-weight: 400;
    color: $darkgrey;
    font-size: 16px;
    display: block;
    padding: 9px 22px;
  }

  &__button--active {
    background: $simple-white;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  &__actions {
    display: none;
  }

  &__action-btn:hover {
    cursor: pointer;
  }
}
