.open-button {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  margin-left: 48px;
  margin-top: 16px;
  cursor: pointer;
  display: none;
  &::before {
    content: url('../icons/arrow.svg');
    position: absolute;
    left: -16px;
  }
}

.container--open {
  height: auto !important;
}
.container__button--open::before {
  content: url('../icons/arrow.svg');
  position: absolute;
  left: -16px;
  transform: rotate(180deg);
}
