.slide-menu {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 6;
  left: -320px;
  &--shadow--on {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  &--shadow--off {
    box-shadow: none;
  }

  &__header {
    height: 116px;
    display: flex;
    padding: 0 24px;
    padding-top: 18px;
  }

  &__button {
    margin-top: 5px;
  }

  &__logo {
    margin-left: 16px;
  }

  &__button:nth-child(3) {
    margin-left: auto;
  }

  &__link {
    text-decoration: none;
    color: #1b1c21;
    font-family: 'TT Lakes';
    font-size: 16px;
    letter-spacing: -0.2px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    margin-left: 24px;
    height: 32px;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 1;
  }

  &__link:hover {
    opacity: 0.5;
  }

  &__link:last-child {
    margin-bottom: 0;
  }

  &__link--active {
    color: #7e7e82;
  }

  &__link--active::before {
    content: '';
    position: relative;
    left: -24px;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__bottom {
    margin-left: 24px;
    margin-top: 100px;
  }

  &__help-buttons {
    display: flex;
  }

  &__help-button {
    margin-right: 16px;
    display: flex;
    align-items: center;
  }

  &__help-button:last-child {
    margin-right: 0;
  }

  &__email-address {
    margin-top: 16px;
  }

  &__phone-number {
    font-size: 24px;
    font-weight: 800;
    margin-top: 12px;
  }

  &__langs {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  &__lang {
    font-weight: 600;
    cursor: pointer;
    margin-right: 7px;
  }

  &__lang:last-child {
    margin-right: 0;
  }

  &--hide {
    animation-name: closeMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &--open {
    animation-name: openMenu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes openMenu {
  to {
    left: 0;
  }
}

@keyframes closeMenu {
  to {
    left: -360px;
  }
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  color: #7e7e82;
}
