@import './base/variables';
@import './base/fonts';
@import './modules/normalize.scss';
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'TT Lakes', 'Arial', sans-serif;
  background-color: $lightgrey;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@import './blocks/header';
@import './blocks/nav';
@import './blocks/brands';
@import './blocks/commerce';
@import './blocks/equipment';
@import './blocks/footer';
@import './blocks/main-info';
@import './blocks/modal';
@import './blocks/open-button';
@import './blocks/overlay';
@import './blocks/services';
@import './blocks/slide-menu';
@import './blocks/swiper';

@import './base/media';
